<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li><a href="#"(click)="onSelect('s-list')">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button"
            >Manage
          </a>

          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="navbar" style="background-color: e93b81;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="text-decoration: none;color: #e93b81; font-family: cursive; font-weight: bold" >Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
        <li><a style="text-decoration: none;color: #f5abc9;" href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li><a style="text-decoration: none;color: #f5abc9;" href="#"(click)="onSelect('s-list')">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="text-decoration: none;color: #f5abc9;"  href="#" class="dropdown-toggle" role="button"
            >Manage
          </a>

          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
</nav>