
  .container-fluid
      position: relative
      display: inline-block
      flex-direction: row-reverse 

  
nav 
 height: 22px !important
  display: flex
  flex-direction: row 
  position: absolute
.navbar-nav
  display: flex
  flex-direction: row 